@model WebMVC.Models.ChuyenBay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChuyenBay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HanhKhach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HanhKhach.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaVe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaVe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaChuyenBay">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
