@model IEnumerable<WebMVC.Models.ChuyenBay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HanhKhach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaVe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HanhKhach.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaChuyenBay">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaChuyenBay">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaChuyenBay">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
